<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>KVERKO.Ru :: Галерея</title>
<meta name="Keywords" content="визитки, штампы, санкт-петербург, спб, питер, оттиск, мастерская" />
<meta name="Description" content="Дизайн, изготовление визиток, деревянных оснасток для печатей и штампов ИП, ООО, ОАО, ЗАО и пр. Верстка макетов, брэндинг, ре-брэндинг в Санкт-Петербурге." />
<meta name="Publisher" content="KVERKO.RU" />
<meta name="Copyright" content="Copyright 2013, KVERKO.RU. All rights reserved." />
<meta name="Author" content="Utkapodsousom" />
<meta name="Language" content="ru-RU" />
<meta name="distribution" content="global" />
<meta name="revisit-after" content="10 days" />
<meta name="Robots" content="All" />
<meta name="viewport" content="width=device-width">
<link rel="Shortcut Icon" href="favicon.ico" />
<link rel="icon" type="image/png" href="http://www.kverko.ru/images/favicon.png">
<link rel="stylesheet" type="text/css" href="css/reset.css" />
<link rel="stylesheet" type="text/css" href="css/960_12_col.css" />
<link rel="stylesheet" type="text/css" href="css/text.css" />
<link rel="stylesheet" type="text/css" href="css/secondary.css" />
<link rel="stylesheet" type="text/css" href="css/component.css" />
		<script src="js/modernizr.custom.js"></script>
<style type="text/css">
h6 {
	font-size: 10px;
}
</style>
</head>
<body>
	<div id="wrapper">
		<div class="container_12">
			<header class="grid_12">
				<div id="logo"> 
					<a href="http://www.kverko.ru" target="_self"><img src="images/logo2.png" alt="KVERKO.RU" width="127" height="127"></a>
				</div><!-- end of logo -->
				<nav class="grid_12">
					<ul id="navcenter">
						<li>
								<a href="main.html">главная</a>
						</li>
						<li>
								<a href="shtampviz.html">штамп-визитки</a>
						</li>
						<li>
								<a href="personal.html">индивидуальный макет</a>
						</li>
						<li>
								<a href="gallery.html" class="selected">галерея</a>
						</li>
						<li>
								<a href="order.html">оформить заказ</a>
						</li>
						<li>
								<a href="about.html">о нас</a>
						</li>
					</ul>
				</nav>
			</header>
		</div>

		<ul id="og-grid" class="og-grid">
			<li>
				<a href="#" data-largesrc="images/gallery/1.jpg" data-title="Kverko" data-description="">
					<img src="images/galthumbs/1.jpg" alt="kverko"/>
				</a>
			</li>
			<li>
				<a href="#" data-largesrc="images/gallery/2.jpg" data-title="Kverko" data-description="">
					<img src="images/galthumbs/2.jpg" alt="kverko"/>
				</a>
			</li>
			<li>
				<a href="#" data-largesrc="images/gallery/3.jpg" data-title="Kverko" data-description="">
					<img src="images/galthumbs/3.jpg" alt="kverko"/>
				</a>
			</li>
			<li>
				<a href="#" data-largesrc="images/gallery/4.jpg" data-title="Kverko" data-description="">
					<img src="images/galthumbs/4.jpg" alt="kverko"/>
				</a>
			</li>
			<li>
				<a href="#" data-largesrc="images/gallery/5.jpg" data-title="Kverko" data-description="">
					<img src="images/galthumbs/5.jpg" alt="kverko"/>
				</a>
			</li>
			<li>
				<a href="#" data-largesrc="images/gallery/6.jpg" data-title="Kverko" data-description="">
					<img src="images/galthumbs/6.jpg" alt="kverko"/>
				</a>
			</li>
			<li>
				<a href="#" data-largesrc="images/gallery/7.jpg" data-title="Kverko" data-description="">
					<img src="images/galthumbs/7.jpg" alt="kverko"/>
				</a>
			</li>
			<li>
				<a href="#" data-largesrc="images/gallery/8.jpg" data-title="Kverko" data-description="">
					<img src="images/galthumbs/8.jpg" alt="kverko"/>
				</a>
			</li>
			<li>
				<a href="#" data-largesrc="images/gallery/9.jpg" data-title="Kverko" data-description="">
					<img src="images/galthumbs/9.jpg" alt="kverko"/>
				</a>
			</li>
			<li>
				<a href="#" data-largesrc="images/gallery/10.jpg" data-title="Kverko" data-description="">
					<img src="images/galthumbs/10.jpg" alt="kverko"/>
				</a>
			</li>
			<li>
				<a href="#" data-largesrc="images/gallery/11.jpg" data-title="Kverko" data-description="">
					<img src="images/galthumbs/11.jpg" alt="kverko"/>
				</a>
			</li>
			<li>
				<a href="#" data-largesrc="images/gallery/12.jpg" data-title="Kverko" data-description="">
					<img src="images/galthumbs/12.jpg" alt="kverko"/>
				</a>
			</li>
			<li>
				<a href="#" data-largesrc="images/gallery/13.jpg" data-title="Kverko" data-description="">
					<img src="images/galthumbs/13.jpg" alt="kverko"/>
				</a>
			</li>
			<li>
				<a href="#" data-largesrc="images/gallery/14.jpg" data-title="Kverko" data-description="">
					<img src="images/galthumbs/14.jpg" alt="kverko"/>
				</a>
			</li>
			<li>
				<a href="#" data-largesrc="images/gallery/15.jpg" data-title="Kverko" data-description="">
					<img src="images/galthumbs/15.jpg" alt="kverko"/>
				</a>
			</li>
			<li>
				<a href="#" data-largesrc="images/gallery/16.jpg" data-title="Kverko" data-description="">
					<img src="images/galthumbs/16.jpg" alt="kverko"/>
				</a>
			</li>
			<li>
				<a href="#" data-largesrc="images/gallery/17.jpg" data-title="Kverko" data-description="">
					<img src="images/galthumbs/17.jpg" alt="kverko"/>
				</a>
			</li>
			<li>
				<a href="#" data-largesrc="images/gallery/18.jpg" data-title="Kverko" data-description="">
					<img src="images/galthumbs/18.jpg" alt="kverko"/>
				</a>
			</li>
			<li>
				<a href="#" data-largesrc="images/gallery/19.jpg" data-title="Kverko" data-description="">
					<img src="images/galthumbs/19.jpg" alt="kverko"/>
				</a>
			</li>
			<li>
				<a href="#" data-largesrc="images/gallery/20.jpg" data-title="Kverko" data-description="">
					<img src="images/galthumbs/20.jpg" alt="kverko"/>
				</a>
			</li>
			<li>
				<a href="#" data-largesrc="images/gallery/21.jpg" data-title="Kverko" data-description="">
					<img src="images/galthumbs/21.jpg" alt="kverko"/>
				</a>
			</li>

<footer id="stickyFoo">
        	<div class="socials">
            	<a class="facebook" href="https://www.facebook.com/pages/Kverko/321876861273948" title="Follow Us!" target="_blank"><img src="images/facebook.png" alt="Facebook" width="26" height="26"  /></a>
				<a class="vk" href="http://vk.com/kverkodoit" title="Подпишитесь!" target="_blank"><img src="images/vk.png" alt="Вконтакте" width="26" height="26" /></a>
				<a class="instagram" href="http://instagram.com/kverko#" title="Поделитесь!" target="_blank"><img src="images/instagram.png" alt="Instagram" width="26" height="26" /></a>
            </div>
            
            <div id="copyrights">
            	<h6>Kverko.RU © 2013. Все права защищены.</h6>
            </div>
        </footer><!-- end of footer -->

		</ul>

		<!-- <div class="page-buffer"></div> -->

	</div><!-- end of wrapper -->
		
		
			
		
		

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
		<script src="js/grid.js"></script>
		<script>
			$(function() {
				Grid.init();
			});
	</script>
</body>
</html>

