include header

body(class="myclass")
  nav(class='collapse navbar-collapse' role="navigation")
    ul(class="nav navbar-nav")
      - for(var i=0; i<nav.length;i++){
        li
          a(href="#{nav[i].Link}") #{nav[i].Text}
      - }
